<div id="globalSearch23-suggestion" class="col l12 se27SeSuggestionsContainer clrText" style="background: var(--primaryBg); top: 41px; display: block;">
   <div class="se28GetDivAboveSuggestion">
      <div class="fs12 fw500 primaryClr valign-wrapper vspace-between sf54SearchFilterRow">
         <div class="chip12Chip cur-po sf54FilterElement clrSubText active primaryClr"><span class="">All</span></div>
         <div class="chip12Chip cur-po sf54FilterElement clrSubText "><span class="">Stocks</span></div>
         <div class="chip12Chip cur-po sf54FilterElement clrSubText "><span class="">MF</span></div>
         <div class="chip12Chip cur-po sf54FilterElement clrSubText "><span class="">FDs</span></div>
         <div class="chip12Chip cur-po sf54FilterElement clrSubText "><span class="">US Stocks</span></div>
         <div class="chip12Chip cur-po sf54FilterElement clrSubText "><span class="">F&amp;O</span></div>
      </div>
   </div>
   <div class="fs16 fw500 clrSubText se27SuggestionLabel">Popular on Groww</div>
   <div class="fs14 fsAuto se27SeSuggestion" style="border-bottom: none;">
      <div class="fs14 clrText valign-wrapper gsc23SuggestionRow" id="suggestionslatent-view-analytics-ltd">
         <div class="gsc23IconCircle circle absolute-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="18" width="18" class="clrText absolute-center">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
            </svg>
         </div>
         <div class="valign-wrapper vspace-between width100 gsc23SuggestionContent">
            <div class="gsc23SuggestionText">
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 14px;"><span class="">L</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">e</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">V</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">e</span><span class="fw500 clrText"></span><span class="">w</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">A</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">l</span><span class="fw500 clrText"></span><span class="">y</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">c</span><span class="fw500 clrText"></span><span class="">s</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">L</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">.</span></div>
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 12px;"><span class="">L</span><span class="fw500 clrText"></span><span class="">A</span><span class="fw500 clrText"></span><span class="">T</span><span class="fw500 clrText"></span><span class="">E</span><span class="fw500 clrText"></span><span class="">N</span><span class="fw500 clrText"></span><span class="">T</span><span class="fw500 clrText"></span><span class="">V</span><span class="fw500 clrText"></span><span class="">I</span><span class="fw500 clrText"></span><span class="">E</span><span class="fw500 clrText"></span><span class="">W</span></div>
            </div>
            <span class="fs12 clrSubText">Stock</span>
         </div>
      </div>
   </div>
   <div class="fs14 fsAuto se27SeSuggestion" style="border-bottom: none;">
      <div class="fs14 clrText valign-wrapper gsc23SuggestionRow" id="suggestionsicici-prudential-technology-fund-direct-growth">
         <div class="gsc23IconCircle circle absolute-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="18" width="18" class="clrText absolute-center">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
            </svg>
         </div>
         <div class="valign-wrapper vspace-between width100 gsc23SuggestionContent">
            <div class="gsc23SuggestionText">
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 14px;"><span class="">I</span><span class="fw500 clrText"></span><span class="">C</span><span class="fw500 clrText"></span><span class="">I</span><span class="fw500 clrText"></span><span class="">C</span><span class="fw500 clrText"></span><span class="">I</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">P</span><span class="fw500 clrText"></span><span class="">r</span><span class="fw500 clrText"></span><span class="">u</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">e</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">l</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">T</span><span class="fw500 clrText"></span><span class="">e</span><span class="fw500 clrText"></span><span class="">c</span><span class="fw500 clrText"></span><span class="">h</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">l</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">g</span><span class="fw500 clrText"></span><span class="">y</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">F</span><span class="fw500 clrText"></span><span class="">u</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">d</span></div>
            </div>
            <span class="fs12 clrSubText">MF</span>
         </div>
      </div>
   </div>
   <div class="fs14 fsAuto se27SeSuggestion" style="border-bottom: none;">
      <div class="fs14 clrText valign-wrapper gsc23SuggestionRow" id="suggestionstata-motors-ltd">
         <div class="gsc23IconCircle circle absolute-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="18" width="18" class="clrText absolute-center">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
            </svg>
         </div>
         <div class="valign-wrapper vspace-between width100 gsc23SuggestionContent">
            <div class="gsc23SuggestionText">
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 14px;"><span class="">T</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">M</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">r</span><span class="fw500 clrText"></span><span class="">s</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">L</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">.</span></div>
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 12px;"><span class="">T</span><span class="fw500 clrText"></span><span class="">A</span><span class="fw500 clrText"></span><span class="">T</span><span class="fw500 clrText"></span><span class="">A</span><span class="fw500 clrText"></span><span class="">M</span><span class="fw500 clrText"></span><span class="">O</span><span class="fw500 clrText"></span><span class="">T</span><span class="fw500 clrText"></span><span class="">O</span><span class="fw500 clrText"></span><span class="">R</span><span class="fw500 clrText"></span><span class="">S</span></div>
            </div>
            <span class="fs12 clrSubText">Stock</span>
         </div>
      </div>
   </div>
   <div class="fs14 fsAuto se27SeSuggestion" style="border-bottom: none;">
      <div class="fs14 clrText valign-wrapper gsc23SuggestionRow" id="suggestionscipla-ltd">
         <div class="gsc23IconCircle circle absolute-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="18" width="18" class="clrText absolute-center">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
            </svg>
         </div>
         <div class="valign-wrapper vspace-between width100 gsc23SuggestionContent">
            <div class="gsc23SuggestionText">
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 14px;"><span class="">C</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">p</span><span class="fw500 clrText"></span><span class="">l</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">L</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">.</span></div>
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 12px;"><span class="">C</span><span class="fw500 clrText"></span><span class="">I</span><span class="fw500 clrText"></span><span class="">P</span><span class="fw500 clrText"></span><span class="">L</span><span class="fw500 clrText"></span><span class="">A</span></div>
            </div>
            <span class="fs12 clrSubText">Stock</span>
         </div>
      </div>
   </div>
   <div class="fs14 fsAuto se27SeSuggestion" style="border-bottom: none;">
      <div class="fs14 clrText valign-wrapper gsc23SuggestionRow" id="suggestionstarsons-products-ltd">
         <div class="gsc23IconCircle circle absolute-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="18" width="18" class="clrText absolute-center">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
            </svg>
         </div>
         <div class="valign-wrapper vspace-between width100 gsc23SuggestionContent">
            <div class="gsc23SuggestionText">
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 14px;"><span class="">T</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">r</span><span class="fw500 clrText"></span><span class="">s</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">s</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">P</span><span class="fw500 clrText"></span><span class="">r</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">u</span><span class="fw500 clrText"></span><span class="">c</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">s</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">L</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">.</span></div>
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 12px;"><span class="">T</span><span class="fw500 clrText"></span><span class="">A</span><span class="fw500 clrText"></span><span class="">R</span><span class="fw500 clrText"></span><span class="">S</span><span class="fw500 clrText"></span><span class="">O</span><span class="fw500 clrText"></span><span class="">N</span><span class="fw500 clrText"></span><span class="">S</span></div>
            </div>
            <span class="fs12 clrSubText">Stock</span>
         </div>
      </div>
   </div>
   <div class="fs14 fsAuto se27SeSuggestion" style="border-bottom: none;">
      <div class="fs14 clrText valign-wrapper gsc23SuggestionRow" id="suggestionsoil-natural-gas-corporation-ltd">
         <div class="gsc23IconCircle circle absolute-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="18" width="18" class="clrText absolute-center">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
            </svg>
         </div>
         <div class="valign-wrapper vspace-between width100 gsc23SuggestionContent">
            <div class="gsc23SuggestionText">
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 14px;"><span class="">O</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">l</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">&amp;</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">N</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">u</span><span class="fw500 clrText"></span><span class="">r</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">l</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">G</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">s</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">C</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">r</span><span class="fw500 clrText"></span><span class="">p</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">r</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">L</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">.</span></div>
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 12px;"><span class="">O</span><span class="fw500 clrText"></span><span class="">N</span><span class="fw500 clrText"></span><span class="">G</span><span class="fw500 clrText"></span><span class="">C</span></div>
            </div>
            <span class="fs12 clrSubText">Stock</span>
         </div>
      </div>
   </div>
   <div class="fs14 fsAuto se27SeSuggestion" style="border-bottom: none;">
      <div class="fs14 clrText valign-wrapper gsc23SuggestionRow" id="suggestionstata-power-company-ltd">
         <div class="gsc23IconCircle circle absolute-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="18" width="18" class="clrText absolute-center">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
            </svg>
         </div>
         <div class="valign-wrapper vspace-between width100 gsc23SuggestionContent">
            <div class="gsc23SuggestionText">
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 14px;"><span class="">T</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">P</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">w</span><span class="fw500 clrText"></span><span class="">e</span><span class="fw500 clrText"></span><span class="">r</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">C</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">m</span><span class="fw500 clrText"></span><span class="">p</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">y</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">L</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">.</span></div>
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 12px;"><span class="">T</span><span class="fw500 clrText"></span><span class="">A</span><span class="fw500 clrText"></span><span class="">T</span><span class="fw500 clrText"></span><span class="">A</span><span class="fw500 clrText"></span><span class="">P</span><span class="fw500 clrText"></span><span class="">O</span><span class="fw500 clrText"></span><span class="">W</span><span class="fw500 clrText"></span><span class="">E</span><span class="fw500 clrText"></span><span class="">R</span></div>
            </div>
            <span class="fs12 clrSubText">Stock</span>
         </div>
      </div>
   </div>
   <div class="fs14 fsAuto se27SeSuggestion" style="border-bottom: none;">
      <div class="fs14 clrText valign-wrapper gsc23SuggestionRow" id="suggestionstrident-ltd">
         <div class="gsc23IconCircle circle absolute-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="18" width="18" class="clrText absolute-center">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
            </svg>
         </div>
         <div class="valign-wrapper vspace-between width100 gsc23SuggestionContent">
            <div class="gsc23SuggestionText">
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 14px;"><span class="">T</span><span class="fw500 clrText"></span><span class="">r</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">e</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">L</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">.</span></div>
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 12px;"><span class="">T</span><span class="fw500 clrText"></span><span class="">R</span><span class="fw500 clrText"></span><span class="">I</span><span class="fw500 clrText"></span><span class="">D</span><span class="fw500 clrText"></span><span class="">E</span><span class="fw500 clrText"></span><span class="">N</span><span class="fw500 clrText"></span><span class="">T</span></div>
            </div>
            <span class="fs12 clrSubText">Stock</span>
         </div>
      </div>
   </div>
   <div class="fs14 fsAuto se27SeSuggestion" style="border-bottom: none;">
      <div class="fs14 clrText valign-wrapper gsc23SuggestionRow" id="suggestionsone-communications-ltd">
         <div class="gsc23IconCircle circle absolute-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="18" width="18" class="clrText absolute-center">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
            </svg>
         </div>
         <div class="valign-wrapper vspace-between width100 gsc23SuggestionContent">
            <div class="gsc23SuggestionText">
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 14px;"><span class="">O</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">e</span><span class="fw500 clrText"></span><span class="">9</span><span class="fw500 clrText"></span><span class="">7</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">C</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">m</span><span class="fw500 clrText"></span><span class="">m</span><span class="fw500 clrText"></span><span class="">u</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">c</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">s</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">L</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">.</span></div>
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 12px;"><span class="">P</span><span class="fw500 clrText"></span><span class="">A</span><span class="fw500 clrText"></span><span class="">Y</span><span class="fw500 clrText"></span><span class="">T</span><span class="fw500 clrText"></span><span class="">M</span></div>
            </div>
            <span class="fs12 clrSubText">Stock</span>
         </div>
      </div>
   </div>
   <div class="fs14 fsAuto se27SeSuggestion" style="border-bottom: none;">
      <div class="fs14 clrText valign-wrapper gsc23SuggestionRow" id="suggestionsnmdc-ltd">
         <div class="gsc23IconCircle circle absolute-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="18" width="18" class="clrText absolute-center">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
            </svg>
         </div>
         <div class="valign-wrapper vspace-between width100 gsc23SuggestionContent">
            <div class="gsc23SuggestionText">
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 14px;"><span class="">N</span><span class="fw500 clrText"></span><span class="">M</span><span class="fw500 clrText"></span><span class="">D</span><span class="fw500 clrText"></span><span class="">C</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">L</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">.</span></div>
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 12px;"><span class="">N</span><span class="fw500 clrText"></span><span class="">M</span><span class="fw500 clrText"></span><span class="">D</span><span class="fw500 clrText"></span><span class="">C</span></div>
            </div>
            <span class="fs12 clrSubText">Stock</span>
         </div>
      </div>
   </div>
   <div class="fs14 fsAuto se27SeSuggestion" style="border-bottom: none;">
      <div class="fs14 clrText valign-wrapper gsc23SuggestionRow" id="suggestionstata-digital-india-fund-direct-growth">
         <div class="gsc23IconCircle circle absolute-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="18" width="18" class="clrText absolute-center">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
            </svg>
         </div>
         <div class="valign-wrapper vspace-between width100 gsc23SuggestionContent">
            <div class="gsc23SuggestionText">
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 14px;"><span class="">T</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">D</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">g</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">l</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">I</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">F</span><span class="fw500 clrText"></span><span class="">u</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">d</span></div>
            </div>
            <span class="fs12 clrSubText">MF</span>
         </div>
      </div>
   </div>
   <div class="fs14 fsAuto se27SeSuggestion" style="border-bottom: none;">
      <div class="fs14 clrText valign-wrapper gsc23SuggestionRow" id="suggestionsadani-ports-and-special-economic-zone-ltd">
         <div class="gsc23IconCircle circle absolute-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="18" width="18" class="clrText absolute-center">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
            </svg>
         </div>
         <div class="valign-wrapper vspace-between width100 gsc23SuggestionContent">
            <div class="gsc23SuggestionText">
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 14px;"><span class="">A</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">P</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">r</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">s</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">S</span><span class="fw500 clrText"></span><span class="">p</span><span class="fw500 clrText"></span><span class="">e</span><span class="fw500 clrText"></span><span class="">c</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">l</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">E</span><span class="fw500 clrText"></span><span class="">c</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">m</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">c</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">Z</span><span class="fw500 clrText"></span><span class="">o</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">e</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">L</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">.</span></div>
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 12px;"><span class="">A</span><span class="fw500 clrText"></span><span class="">D</span><span class="fw500 clrText"></span><span class="">A</span><span class="fw500 clrText"></span><span class="">N</span><span class="fw500 clrText"></span><span class="">I</span><span class="fw500 clrText"></span><span class="">P</span><span class="fw500 clrText"></span><span class="">O</span><span class="fw500 clrText"></span><span class="">R</span><span class="fw500 clrText"></span><span class="">T</span><span class="fw500 clrText"></span><span class="">S</span></div>
            </div>
            <span class="fs12 clrSubText">Stock</span>
         </div>
      </div>
   </div>
   <div class="fs14 fsAuto se27SeSuggestion" style="border-bottom: none;">
      <div class="fs14 clrText valign-wrapper gsc23SuggestionRow" id="suggestionsbharti-airtel-ltd">
         <div class="gsc23IconCircle circle absolute-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="18" width="18" class="clrText absolute-center">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
            </svg>
         </div>
         <div class="valign-wrapper vspace-between width100 gsc23SuggestionContent">
            <div class="gsc23SuggestionText">
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 14px;"><span class="">B</span><span class="fw500 clrText"></span><span class="">h</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">r</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">A</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">r</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">e</span><span class="fw500 clrText"></span><span class="">l</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">L</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">.</span></div>
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 12px;"><span class="">B</span><span class="fw500 clrText"></span><span class="">H</span><span class="fw500 clrText"></span><span class="">A</span><span class="fw500 clrText"></span><span class="">R</span><span class="fw500 clrText"></span><span class="">T</span><span class="fw500 clrText"></span><span class="">I</span><span class="fw500 clrText"></span><span class="">A</span><span class="fw500 clrText"></span><span class="">R</span><span class="fw500 clrText"></span><span class="">T</span><span class="fw500 clrText"></span><span class="">L</span></div>
            </div>
            <span class="fs12 clrSubText">Stock</span>
         </div>
      </div>
   </div>
   <div class="fs14 fsAuto se27SeSuggestion" style="border-bottom: none;">
      <div class="fs14 clrText valign-wrapper gsc23SuggestionRow" id="suggestionsjsw-steel-ltd">
         <div class="gsc23IconCircle circle absolute-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="18" width="18" class="clrText absolute-center">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
            </svg>
         </div>
         <div class="valign-wrapper vspace-between width100 gsc23SuggestionContent">
            <div class="gsc23SuggestionText">
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 14px;"><span class="">J</span><span class="fw500 clrText"></span><span class="">S</span><span class="fw500 clrText"></span><span class="">W</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">S</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">e</span><span class="fw500 clrText"></span><span class="">e</span><span class="fw500 clrText"></span><span class="">l</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">L</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">.</span></div>
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 12px;"><span class="">J</span><span class="fw500 clrText"></span><span class="">S</span><span class="fw500 clrText"></span><span class="">W</span><span class="fw500 clrText"></span><span class="">S</span><span class="fw500 clrText"></span><span class="">T</span><span class="fw500 clrText"></span><span class="">E</span><span class="fw500 clrText"></span><span class="">E</span><span class="fw500 clrText"></span><span class="">L</span></div>
            </div>
            <span class="fs12 clrSubText">Stock</span>
         </div>
      </div>
   </div>
   <div class="fs14 fsAuto se27SeSuggestion" style="border-bottom: none;">
      <div class="fs14 clrText valign-wrapper gsc23SuggestionRow" id="suggestionsreliance-industries-ltd">
         <div class="gsc23IconCircle circle absolute-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="18" width="18" class="clrText absolute-center">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
            </svg>
         </div>
         <div class="valign-wrapper vspace-between width100 gsc23SuggestionContent">
            <div class="gsc23SuggestionText">
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 14px;"><span class="">R</span><span class="fw500 clrText"></span><span class="">e</span><span class="fw500 clrText"></span><span class="">l</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">a</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">c</span><span class="fw500 clrText"></span><span class="">e</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">I</span><span class="fw500 clrText"></span><span class="">n</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">u</span><span class="fw500 clrText"></span><span class="">s</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">r</span><span class="fw500 clrText"></span><span class="">i</span><span class="fw500 clrText"></span><span class="">e</span><span class="fw500 clrText"></span><span class="">s</span><span class="fw500 clrText"></span><span class=""> </span><span class="fw500 clrText"></span><span class="">L</span><span class="fw500 clrText"></span><span class="">t</span><span class="fw500 clrText"></span><span class="">d</span><span class="fw500 clrText"></span><span class="">.</span></div>
               <div class="truncate clrSubText" style="max-width: 285px; margin: 0px; font-size: 12px;"><span class="">R</span><span class="fw500 clrText"></span><span class="">E</span><span class="fw500 clrText"></span><span class="">L</span><span class="fw500 clrText"></span><span class="">I</span><span class="fw500 clrText"></span><span class="">A</span><span class="fw500 clrText"></span><span class="">N</span><span class="fw500 clrText"></span><span class="">C</span><span class="fw500 clrText"></span><span class="">E</span></div>
            </div>
            <span class="fs12 clrSubText">Stock</span>
         </div>
      </div>
   </div>
</div>