*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link{
    color: #000;
    font-size: 14px;
}
.order_style{
    background: #212b64;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}

.order_style:hover{
    color: white;
}

.nav-pills .nav-item{
    width: 50%;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #304ffe;
    font-weight: bold;
    background:transparent;
    font-size: 20px;
    border-bottom: 5px solid #212b64;
}
.nav-pills .nav-link{
    border-radius: 0px;
    font-size: 20px;
}
.nav-pills .nav-link:hover{
    color: #304ffe;
}
.currency_select{
    padding: 10px;
}
.currency_select:hover{
    background-color: #ddd;
    cursor: pointer;
}

textarea{
    resize: none;
    box-shadow: 3px 6px 24px rgba(0,0,0,0.1);
}
.slide-caption-inner.slider-text{
    padding-top: 160px;
}
.currency_style{
    position: relative;
    top: -4em;
    left: 16em; 
    padding: 12px 24px; 
    font-size: 1em;
}
.crypto_style{
    position: relative;
    top: -4em;
    left: 16em; 
    padding: 12px 24px; 
    font-size: 1em;
}
.select2-container .select2-selection--single{
    height: 37px!important;
}

.form-setup{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.upper-strip {
    background-color: #30375f;
    text-align: center;
    padding: 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}



nav ul {
	-webkit-font-smoothing:antialiased;
	text-shadow:0 1px 0 #FFF;
    /* background: #ddd; */
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
nav li {
    float: left;
    margin: 0;
    padding: 0px 8px;
    position: relative;
    /* min-width: 9.35%; */
}


.submenu {
    background-color: #DAE0F7;
    width: 10em;
}

.submenu a{
    text-align: left!important;
    padding: 0 25px;
    margin: 25px 0;
}

nav a {
    /* background: #ddd; */
    color: #212b64;
    display: block;
    font-size: 14px;
    /* padding: 0 25px; */
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

nav .dropdown{
    content: '\25bc';
    transition: all .9s ease-in-out;
}

nav .dropdown:after {
    content: '\25bc';
    /* transition: all 5s ease; */
    /* transition: all .2s ease-in-out; */
    transform: scale(1.1); 
}
nav .dropdown:hover:after{
	content:'\25b2';
    /* transform: translateX(200px) */
    transform: scale(1.1); 

}

nav li ul {
    float: left;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}
nav li ul li {
    float: none;
    width: 100%;
}


.cf:after, .cf:before {
    content:"";
    display:table;
    
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}
.search_modal_div{
    /* width: 405.73px;
    position: absolute;
    z-index: 1;
    top: 4.5em;
    left: 7.5em;
    height: 400px; */
    overflow-y: overlay;
    background: white;    
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.1);
    border-radius: 1em;
}

.search_modal_div a{
    padding: 5px 1em;
}

.search_modal{
    margin-left: 1em;
    margin-top: 1em;
}
.search_modal .nav-item{
    width: auto;
    padding: 5px 10px;
}
.search_modal .nav-link.active, .nav-pills .show>.nav-link{
    color: #304ffe;
    background: #ddd;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
}
.search_modal .nav-link{
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 12px;
    color: rgb(71, 71, 71);
}
.search_row_hover_bg{
    padding: 10px;
}
.search_row_hover_bg:hover{
    background-color: #ddd;
}
.search_bar{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    z-index: 1;
    top: 0em;
}


@media only screen and (min-width: 768px) and (max-width: 968px){
    .currency_style{
        left: 11em; 
    }

    .form-control{
        width: 135%;
    }

    .crypto_style{
        left: 11.25em;
    }

    .show_more_currency{
        left:11em!important;
    }
}

@media only screen and (max-width: 576px){
    .buy_sell_section{
        margin-bottom: 6em;
    }
    .currency_style{
        position: relative;
        left: 9.5em!important;
    }
    .crypto_style{
        left: 9.5em;
    }
}