
style.css: 
15203 
#quick_search{
    width: 190px; \\ previous: 280px;
    
}
14022
{
    \\all added 
    width: 170px!important;
    top: -1em;
    left: -4em;
}


1181
header.header-mobile .logo{
    display: block; \\none;
}


