*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.anker_style{
    padding: 10px 20px;
    background-color: #000;
    text-transform: uppercase;
    border: 0px solid #000;
    border-radius: 25px;
}
.anker_style a{
    color: #3FCDCF;
}